@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');
$hoverColor: #c77bab;
$secondaryColor: #ea91cd;
$white:#fff;
$black: black;
$grey:#424242;
$font-family: 'Open Sans''san serif';
$transition: .2s ease;

@mixin btn {
    color: $black;
    background: $secondaryColor;
    font-size: 1.3rem;
    font-weight: 500;
    letter-spacing: 1px;
    transform: uppercase;
    padding: 10px 30px;
    border: 0;
    transition: $transition;

    &:hover {
        color: $white;
    }

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family;
    font-size: 16px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4 {
    font-weight: 600;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: $transition;

    &:hover {
        color: $hoverColor;
    }
}

p {
    font-size: 1.2rem;
    font-weight: 300;
}

.container {
    width: 70%;
    margin: 0 auto;
}


/***nav***/
header {
    background-image: url(img/header-flowers.jpg);
    background-position: center;
    background-size: cover;
    height: 600px;

    nav {
        padding: 30px 0;

        .logo {
            float: left;
            color: $white;
            font-size: 2.5rem;
        }

        ul {
            float: right;
            text-align: center;

            li {

                display: inline-block;
                margin-left: 20px;

                a {
                    color: $white;
                    font-size: 1.7rem;
                }
            }

        }

        .clearfix {
            clear: both;
        }
    }

    .head {
        padding-top: 150px;
        text-align: center;

        h1 {
            font-size: 4rem;
            color: $secondaryColor;
        }

        p {
            color: $white;
            font-weight: 600;
            padding-top: 20px;
            padding-bottom: 20px
        }

        .btn {
            @include btn();

        }
    }
}

.opis {
    text-align: center;
    padding-bottom: 70px;

    h2 {
        padding: 50px 0 15px 0;
        font-size: 3.2rem;
    }

    h4 {
        padding-bottom: 10px;
        font-size: 1.6rem;
    }

    p {
        padding-bottom: 30px;
    }

    .btn {
        @include btn();

    }
}

.slika {
    background: $secondaryColor;
    width: 100%;

    .container {
        img {
            padding-top: 70px;
            width: 100%;
            margin: 0 auto;
        }

        @extend .opis;

        .btn {
            background-color: antiquewhite;
            transition: $transition;

            &:hover {
                background-color: $grey;
                color: #c77bab
            }
        }
    }

}

.josnesto {
    @extend .opis;

    h4 {
        padding-bottom: 15px;
    }

    p {
        border: 3px dashed $grey;
        padding: 40px;

    }
}

footer {
    background: $grey;
    padding: 50px 0;

    p {
        font-weight: 600;
        color: $white;
        text-align: center;
    }
}